html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --status-alive-color: rgb(85, 204, 68);
  --status-dead-color: rgb(214, 61, 46);
  --status-unknown-color: rgb(158, 158, 158);
  --text-gray: rgb(158, 158, 158);
}

.text-gray {
  color: var(--text-gray);
}
